@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(/dist/fonts/Raleway-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(/dist/fonts/Raleway-Medium.ttf) format('truetype');
}

		body{
			margin: 0;
			font-family: 'Raleway', sans-serif;
		}
        .leaflet-container{
            background-color: #51526f;
        }

		#map{
			position:absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#stats{
			position: fixed;
			bottom: 0;
			right: 0;
			z-index:9999;
			margin: 1em;
			pointer-events:none;
		}

		#stats .box{
			width:130px;
			padding: 1em;
			background-color: rgba(255,255,255,0.85);
			margin: 0em .2em;
			display: inline-block;
			border-radius: 3px;
		}

		#stats .box .value.loading:after{
			content:'';
			width: 13px;
			height: 13px;
			display: inline-block;
			border: 2px solid transparent;
			border-top-color: rgba(0,0,0,0.6);
			border-left-color: rgba(0,0,0,0.6);
			border-radius: 50%;
			animation: spinner 400ms linear infinite;
			position: relative;
			top: 2px;
		}

		@keyframes spinner{
			0%{
				transform: rotate(0deg);
			}
			100%{
				transform: rotate(360deg);
			}
		}



		#stats .box small{
			display: block;
			color: rgba(0,0,0,0.4);
			font-weight: bold;
			text-transform: uppercase;
			font-size: 11px;
		}

		#stats .box .value{
			font-weight: bold;
			font-size: 24px;
		}

		#stats .box .unit{
			font-weight: bold;
			color: rgba(0,0,0,0.6);
		}

		#stats #lower-stats{
			display: block;
			margin-top: .5em;
		}

		#stats #lower-stats .box{
			background-color: rgba(255,255,255,0.85);
			width: 280px;
			border-radius: 3px;
			padding: .5em;
		}

		#stats #lower-stats .box small{
			display: inline-block;
			vertical-align: bottom;
		}

		#stats #lower-stats .box .value{
			font-size: 16px;
		}

		#stats #lower-stats .box .value.loading:after{
			width: 8px;
			height: 8px;
			top: -4px;
			left: 5px;
		}